$border: 1px solid
  rgba(
    $color: #D1DCE5,
    $alpha: 1
  );
  
$border2: 1px solid #E3EFF9;

// По умолчанию
$size1: .4rem;
$size2: .75rem;
$size2-2: .8rem;
$size3: 1rem;
$size4: 1.5rem;
$size4-2: 2rem;
$size5: 2.25rem;
$size6: 3rem;
$size7: 3.75rem;

// Увеличенный
$l-size1: .6rem;
$l-size2: 1rem;
$l-size2-2: 1.1rem;
$l-size3: 1.3rem;
$l-size4: 1.8rem;
$l-size4-2: 2.5rem;
$l-size5: 2.7rem;
$l-size6: 3.5rem;
$l-size7: 4rem;





$whiteColor: #fff;
$backgroundColor: #F5F9FF;
$textColor: #000000;
$primaryColor: #2D87E2;
$primaryColor-2: #73AEEA;
$primaryColor-3: #4796E6;
$primaryColor-4: #B5D9FD;
$primaryColor-5: #47E69A;
$secondTextColor: #D1DCE5;
$thirdTextColor: #233B4C;
$fourthTextColor: #636363;

$mainpurple: #506CCF;
$maindarkpurple: #3453C2;
$mainblue: #49A1F1;
